<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>چک لیست سفر</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>


<header class="main-header">
  <div class="page-wrapper">
   
    <div class="title">
      <h1>سامانه ساخت چک لیست سفر 🧾</h1>
      <span>هوشمند • ساده • قابل چاپ</span>
    </div>
  </div>
</header>

<div class="stepper-container">
  <div class="stepper-wrapper">

    <div class="step">
      <span class="circle">1</span>
      <span class="label">فرم</span>
    </div>

    <span class="connector"></span>

    <div class="step active">
      <span class="circle">2</span>
      <span class="label">جزئیات</span>
    </div>

    <span class="connector"></span>

    <div class="step">
      <span class="circle">3</span>
      <span class="label">نتیجه</span>
    </div>

  </div>
</div>

<div class="result-wrapper">

  <h2>🔍 بررسی اطلاعات سفر</h2>

 

  <div class="summary-grid">
 
    <div><strong>نام:</strong> {{ form.name }}</div>
   <p><strong>نوع سفر:</strong> {{ travel_type }}</p>
   <div><strong>مقصد:</strong> {{ form.city_fa }}</div>
   <p><strong>محل اقامت:</strong> {{ accommodation  }}</p>
   <div><strong>مدت اقامت:</strong> {{ form.stay_days }} شب</div>
  </div>


  <form action="/result" method="post">
  <button type="submit" class="submit-btn">
     تأیید و ساخت چک لیست
	 </button>
	
  
</form> 


 <button class="back-link" onclick="location.href='/';"> ✏️ ویرایش اطلاعات</button>

   
	
	
<script src="/static/script.js"></script>
<script>
  window.addEventListener("load", () => {
    setTimeout(() => setStep(2), 100);
  });
</script>

</div>
</body>
